
<section id="top-page" class="container-fluid">

  <header id="header">
    <h1>Cart</h1>
  </header>

  <div id="search-bar">
    <button class="btn total-style">
      <span>Total:</span>
      {{vm.total/100 | currency}}
    </button>
    <a class="btn btn-success" ui-sref="home">
      Continue Shopping
    </a>
  </div>
</section>

<div id="cart-list-box">
  <table class="table table-bordered">

    <thead>
    <tr>
      <th>Product</th>
      <th>Sub-Total</th>
      <th>Quantity</th>
    </tr>
    </thead>

    <tbody>
      <tr ng-repeat="x in vm.cart track by $index">

        <td>
          <h3 ng-bind="x.item.name"></h3>
          <img class="img-rounded" style="width: 30%" ng-src="{{x.item.imageUrl}}" alt="p.name" />
        </td>

        <td>
          <p class="infoContent">{{(x.item.price * x.qty)/100 | currency}}</p>
        </td>

        <td>
          <span class="infoContent">{{x.qty}}</span>
          <button ng-click="vm.increaseQty(x.item._id)">+</button>
          <button ng-click="vm.decreaseQty(x.item._id)">-</button>
        </td>

        <td>
          <button class="btn btn-danger" ng-click="vm.removeFromCart(x.item._id)">
            X
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
