<section id="top-page">

  <header id="header">
    <h1>Browse</h1>
  </header>

  <search-bar-directive
    cart-qty-total="vm.cartQtyTotal"
    search-name="vm.searchName"
    category-options="vm.categoryOptions"
    selected-category-option="vm.selectedCategoryOption"
    price-sort-options="vm.priceSortOptions"
    selected-price-order="vm.selectedPriceOrder">
  </search-bar-directive>

</section>

<product-list-directive
  products="vm.products"
  is-in-stock="vm.isInStock"
  search-name="vm.searchName"
  selected-category-option="vm.selectedCategoryOption"
  selected-price-order="vm.selectedPriceOrder"
  add-to-cart="vm.addToCart">
</product-list-directive>
