<section id="top-page">

  <header id="header">
    <h1>Browse</h1>
  </header>

  <search-bar-directive
    cart-qty-total="vm.cartQtyTotal"
    search="vm.search.name"
    category-options="vm.categoryOptions"
    selected-category-option="vm.selectedCategoryOption.categories"
    price-sort-options="vm.priceSortOptions"
    selected-price-sort="vm.selectedPriceSort">
  </search-bar-directive>

</section>

<product-list-directive
  products="vm.products"
  is-in-stock="vm.isInStock"
  search="vm.search.name"
  selected-category-option="vm.selectedCategoryOption.categories"
  selected-price-sort="vm.selectedPriceSort"
  add-to-cart="vm.addToCart">
</product-list-directive>
