
::-webkit-scrollbar {
  display: none;
}

@import 'utils/mixin';
@import 'utils/extends';

@import 'common/top-page';
@import 'common/flexin';
@import 'common/box';

.green{
  color: ForestGreen;
}

.red{
  color: Crimson;
}